
@font-face {
    font-family: 'asap';
    src: url('asap-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'asap';
    src: url('asap-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

* {
    font-family: 'asap', sans-serif;
}

body {
    padding: 2em 4em;
    font-size: 20px;
    background-color: #EFEFEF;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background-color: white;
    border-radius: 10px;
    margin: 0 0 0.4em;
    display: block;
    padding: 1em 1.6em;
    box-shadow: 0 0 4px 0 #999;
}

li .state {
    float: right;
    font-weight: bold;
    width: 11.45em;
}

.delete {
    float: right;
    font-size: 100%;
    font-weight: bold;
    background-color: white;
    border: none;
    cursor: pointer;
    opacity: 0.3;
    width: 1em;
    text-align: right;
    padding: 0;
    margin: 0;
}

.delete:hover {
    opacity: 1;
}

.clear {
    clear: both;
}

#task-form li {
    padding: 0.8em 1em;
}

#task-form form {
    position: relative;
    height: 2.2em;
}

#task-form form.has-error {
    height: 4.2em;
}

#task-form #description {
    font-size: 100%;
    padding: 0.4em;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 15em;
}

#task-form select {
    font-size: 100%;
    font-weight: bold;
    padding: 0.4em;
    position: absolute;
    top: 0;
    right: 5em;
    width: 8.5em;
    box-sizing: border-box;
}

#task-form #submit-button {
    font-size: 100%;
    padding: 0.4em 1em;
    background-color: green;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

.error {
    border: 2px solid red;
    background-color: #FFF0F0;
}

.error-message {
    margin-top: 0.2em;
    color: red;
    position: absolute;
    top: 2.6em;
    left: 0.4em;
}
